/* Blog */

#home-blog {
  padding-top: 24px;
}

article {
  margin-top: 24px;
}

article hgroup {
  padding-bottom: 8px;
  padding-top: 8px;
  position: sticky;
  top: 0;
}

article h3 {
  color: #fc0;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 4px;
  letter-spacing: -0.25px;
}

article img {
  width: 100%;
  margin-bottom: 24px;
}

img.post-portrait {
  width: 75%;
}

article iframe {
  margin-bottom: 24px;
}

article p {
  margin-bottom: 24px;
  font-size: 18px;
  letter-spacing: -0.25px;
}

article p a {
  text-decoration: underline;
}

@media only screen and (max-width: 848px) {
  article hgroup,
  article p {
    padding-left: 16px;
    padding-right: 16px;
  }

  article h2 {
    font-size: 30px;
  }

  article h3,
  article p {
    font-size: 16px;
  }

  img.post-portrait {
    width: 100%;
  }

  article iframe {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 672px) {
  article iframe {
    width: 288px;
    height: 191px;
  }
}

/* Footer */

footer {
  padding-top: 8px;
  padding-bottom: 32px;
}

footer a {
  line-height: 1;
  margin-right: 32px;
  color: #ccc;
  display: none;
  letter-spacing: -1.25px;
}

@media only screen and (max-width: 848px) {
  footer {
    padding-left: 16px;
    padding-bottom: 96px;
  }

  footer a {
    font-size: 30px;
  }
}
